* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
    }  

@font-face {
font-family: 'Mulish';
src: url("assets/fonts/Mulish-Italic-VariableFont_wght.ttf");
font-weight: 200;
    }

@font-face {
font-family: 'Mulish';
src: url("assets/fonts/Mulish-VariableFont_wght.ttf");
font-weight: 200;
    } 
body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
header   
 .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }  

main
 .container {
    max-width: 1440px;
    margin: 0 auto;
  } 

footer 
 .container {
    max-width: 1440px;
    margin: 0 auto;
  }

    